<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/post.css" />
    <title>Life 게시판</title>
  </head>
  <body>
    <!-- 타이틀 -->
    <header>
      <a href="/index" id="mainTitle">W vlog</a>
      <div>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      </div>
    </header>

    <!-- 목록 -->
    <nav>
      <div>
        <a href="/index">Home</a>
        <a href="/lifePost">Life</a>
        <a href="/study">Study</a>
        <a href="/hobby">Hobby</a>
        <a href="/market">Market</a>
        <a href="/visiotrs">Visitors</a>
      </div>
    </nav>

    <!-- 메인 -->
    <main>
      <div class="lifeContainer">
        <h1 class="lifeTitle">Life</h1>
        <a href="/writePost">글쓰기</a>
      </div>
      <div>
        <table id="post-table">
          <thead>
            <tr>
              <th>number</th>
              <th>title</th>
              <th>Author</th>
              <th>Date</th>
              <th>views</th>
            </tr>
          </thead>
          <tbody>
            <!-- 게시글 렌더링 되는곳 -->
          </tbody>
        </table>
      </div>
    </main>

    <!-- 바닥 -->
    <footer>
      <h3>w.developer</h3>
    </footer>
  </body>
  <script src="/js/index.js"></script>
  <script src="/js/lifePost.js"></script>
</html>
