<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>회원가입</title>
  </head>
  <body>
    <!-- 타이틀 -->
    <header>
      <a href="/index" id="mainTitle">W vlog</a>
      <div>
        <a href="/index">Home</a>
        <a href="/lifePost">Life</a>
        <a href="/studyPost">Study</a>
        <a href="/market">Market</a>
        <a href="/visiotrs">Visitors</a>
        <a id="loginButton" href="/login">Login</a>
        <a id="registerButton" href="/register">Register</a>
        <a id="logoutButton" href="/logout">Logout</a>
        <a id="accountButton" href="/account">Account</a>
      </div>
    </header>

    <!-- 목록 -->
    <nav>
      <div></div>
    </nav>

    <!-- 메인 -->
    <main>
      <div id="loginBox">
        <h1>회원가입</h1>
        <div class="form-group">
          <label for="name">이름</label><br />
          <input type="name" id="name" name="name" required />
        </div>
        <div class="form-group">
          <label for="email">이메일</label><br />
          <input type="email" id="email" name="email" required />
        </div>
        <div class="form-group">
          <label for="password">패스워드</label><br />
          <input type="password" id="password" name="password" required />
        </div>
        <div class="form-group">
          <label for="confirmPassword">패스워드 확인</label><br />
          <input type="password" id="confirmPassword" name="confirmPassword" required />
        </div>
        <br />
        <button onclick="register()">회원가입</button>
      </div>
    </main>

    <!-- 바닥 -->
    <footer>
      <h3>w.developer</h3>
    </footer>
  </body>
  <script src="/js/index.js"></script>
</html>
