<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/post.css" />
    <title>게시판 글쓰기</title>
  </head>
  <body>
    <!-- 타이틀 -->
    <header>
      <a href="/index" id="mainTitle">W vlog</a>
      <div>
        <a href="/index">Home</a>
        <a href="/lifePost">Life</a>
        <a href="/studyPost">Study</a>
        <a href="/market">Market</a>
        <a href="/visiotrs">Visitors</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      </div>
    </header>

    <!-- 목록 -->
    <nav>
      <div></div>
    </nav>

    <!-- 메인 -->
    <main>
      <div class="writePostBox">
        <h1>write</h1>

        <label for="title">제목</label>
        <input type="text" id="title" required />

        <label for="content">내용</label>
        <textarea id="content" required></textarea>

        <label for="category">카테고리:</label>
        <select id="category" required>
          <option value="study">Study</option>
          <option value="hobby">Hobby</option>
          <option value="life">Life</option>
        </select>

        <form action="http://localhost:3000/api/image/upload" method="post" enctype="multipart/form-data">
          <input type="file" name="image" />
          <input type="submit" value="Upload Image" />
        </form>

        <br />
        <button onclick="createPost()">게시</button>
      </div>
    </main>

    <!-- 바닥 -->
    <footer>
      <h3>w.developer</h3>
    </footer>
  </body>
  <script src="/js/index.js"></script>
  <script src="/js/writePost.js"></script>
</html>
