/* 전체 페이지 스타일 */
body {
  margin: 10vw;
  padding: 0;
  background-color: #f2f2f2;
}

/* 헤더 스타일 */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
}

header > div > a {
  text-decoration: none;
  font-size: 1.3rem;
  margin-left: 10px;
}

#mainTitle {
  font-size: 3.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

header a:hover,
#mainTitle:hover {
  color: blue;
}

/* 네비게이션 스타일 */
nav > div {
  margin-left: 15vw;
  margin-right: 15vw;
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  padding: 7px 10px;
  cursor: pointer;
}

nav a:hover {
  color: blue;
}

/* 메인 콘텐츠 스타일 */
main {
  margin: 5vw;
}

/* 바닥 스타일 */
footer {
  text-align: center;
  padding: 10px 0;
}

footer h3 {
  margin: 0;
}

/* 로그인 박스 */
#loginBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loginBox button {
  width: 100px;
  padding: 8px 5px;
}

/* Input 창 크기 조절 */
#loginBox input {
  width: 300px;
  padding: 8px 5px;
}
/* 
#email,
#password,
#confirmPassword,
#name {
  caret-color: auto;
} */
