/* 테이블 스타일 */
#post-table {
  border-collapse: collapse;
  width: 100%;
}

#post-table th,
#post-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #dcdcdc;
}

#post-table th {
  font-size: 1.3rem;
  color: grey;
}

/* 각 th 열에 다른 너비를 지정 */
#post-table th:nth-child(1) {
  width: 10%;
}

#post-table th:nth-child(2) {
  width: 50%;
}

#post-table th:nth-child(3) {
  width: 10%;
}

#post-table th:nth-child(4) {
  width: 15%;
}

#post-table th:nth-child(5) {
  width: 10%;
}

/* 메인 */

.lifeTitle {
  font-size: 3rem;
}
